FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=
JWT_SECRET=gerar_string_aleatoria_64_caracteres
ADMIN_EMAIL=diretor@recantodasmargaridas.edu.br
ADMIN_SENHA=trocar_na_primeira_vez
DOMAIN=avisos.recantodasmargaridas.edu.br
PORT=3001
